<div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-primary">
            <div class="row">
              <div class="col-md-6">
                <h5>Product List</h5>
              </div>
              <div class="col-md-6 text-end">
                <button class="btn btn-sm btn-success" (click)="openProductModal()">New</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
            
             
            </div>
          </div>
        </div>
      </div>
      <!-- new product modal starts -->
      
      <!-- new product modal ends -->
    </div>
  </div>